@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap');

//colors
$White: #FFFFFF;
$bcBrown: #343650;
$bcDarkBrown: #191A23;
$black: #000000;
$red: #FB5E84;

//mixins
@mixin flexProperty ($horizontal,$vertical,$wrap, $direction) {
    justify-content: $horizontal;
    align-items: $vertical;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

@mixin background ($Size, $repeat, $position) {
    background-size: $bcSize;
    background-repeat: $repeat;
    background-position: $position;
}
@mixin absolute ($top, $right, $left) {
    top: $top;
    right: $right;
    left: $left;
}
@mixin textStyle ($weight, $size, $height, $spacing, $transform, $color) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $spacing;
    text-transform: $transform;
    color: $color;
}


html {
    font-size: 62.5%;
    height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    background: linear-gradient(180deg, #1D1E28 0.12%, #261C2D 94.84%, #261A2D 100%);
    body {
        text-align: center;
        height: 100vh;
        width: 100vw;
        background: url(../images/pattern-hills.svg), url(../images/bg-stars.svg);
        background-position: bottom, center;
        background-size: 100% 16.8rem, cover;
        background-repeat: no-repeat, no-repeat;
        //@include background (contain, bottom, no-repeat);
        display: flex;
        @include flexProperty(space-between, center, nowrap, column);
        h1 {
            margin: 14.2rem 0rem 5.4rem 0rem;
            @include textStyle(700, 1.8rem, 2.4rem, 0.613636rem, uppercase, $White);
        }
        .timer {
            display: flex;
            @include flexProperty(center, center, no-repeat, row);
            gap: 1.6rem;
            .flip-box-back {
                width: 7rem;
                height: 7.1rem;
                border-radius: 0.8rem;
                background-color: $bcDarkBrown;
                margin-bottom: 0.9rem;
                position: relative;
                #flip-top {
                    width: 7rem;
                    height: 3.3rem;
                    background-color: $bcBrown;
                    border-radius: 0.4rem;
                }
                .divider {
                    position: absolute;
                    @include absolute(3.276rem, unset, unset);
                    z-index: 5;
                    background-color: $black;
                    width: 7rem;
                    height: 0.047rem;
                    opacity: 0.25;
                }
                #flip-bottom {
                    width: 7rem;
                    height: 3.3rem;
                    background-color: $bcBrown;
                    border-radius: 0.4rem;
                }
                #right, #left {
                    width: 0.3rem;
                    height: 0.6rem;
                    background-color: $bcDarkBrown;
                    position: absolute;
                    background-color: $bcDarkBrown;
                }
                #left {
                    @include absolute(3rem, unset, 0);
                    border-radius:  0 0.3rem 0.3rem 0;
                }
                #right {
                    @include absolute(3rem, 0, unset);
                    border-radius:  0.3rem 0 0 0.3rem;
                }
                .flip-box-front {
                    position: absolute;
                    @include absolute(-0.156rem, 0, unset);
                    width: 7rem;
                    height: 6.327rem;
                    border-radius: 0.4rem;
                    @include textStyle(700, 3.6rem, 7.1rem,  -0.108rem, uppercase, $red);
                }
            }
            .time-interval {
                @include textStyle(700, .7rem, 0.9rem,  0.295937rem, uppercase, #8385A9);
            }
        }
        .social-media {
            margin: 25.9rem 0 4.8rem 0;
            svg {
                width: 2.4rem;
                height: 2.4rem;
                margin: 0 1.6rem;
                cursor: pointer;
            }
            svg:hover path {
                fill: $red;
                transition:  all 0.5s linear;
            }
        }

    }
}


